.product_board{
	position: absolute;
    left: 520px;
    top: 160px;
	width: 1200px;
	height: 866px;
}

.product_board_list{
	display: flex;
	flex-wrap: wrap;
}


.product_board_content{
	height: 260px;
    border: 2px solid #ccc;
    width: 200px;
    /* padding: 10px; */
	margin: 50px 0 0  60px;
/* 	float: left; */
	border-radius: 9px; 
	overflow:hidden;
}

.product_board_content_wrap_img{
	overflow:hidden;
}

/* 마우스 확대하면 이미지 확대 */
.product_board_content:hover img{
	
   -ms-transform: scale(1.1);
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
   transition : all 0.5s ease ;
	
}
.product_board_content:hover .product_board_content-title > a{
	text-decoration: underline;	
	color:blue;
}


.card-text{
	text-align:center;
	padding: 5px;
}

.chk{
	
	position: relative;
    bottom: -25px;
}

.product_board_content-title{
	padding: 5px;
	text-align:center;
	
}