@charset "UTF-8";

.prodInsert_page_wrap{
	flex-wrap: wrap;
	height: 765px;
	width: 300px;
	background-color: #ccc;
	margin: -256px 97px 0px 700px;
	opacity: 0.6;
}
.prodInsert_page_wrap_content{
	display: table-row-group;
	vertical-align: middle;
}

.prodInsert_page_wrap_content > tr{
	display: table-row;
	vertical-align: inherit;
}


.key{
	
	padding-left: 10px;
	width: 60px;
	height:100px;
	color: #111;
	font-size: 14px;
	text-align: right;
	padding-right: 50px;
	
	
}

.td_input{
	
	padding: 15px 0 12px 0;
	color: #888; 
	
}

.submitbox{
	margin-top: 178px;
}
